<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5" debug="false">
    <Appenders>
        <RollingFile name="RollingFile" fileName="$sys{catalina.base}/app.log" filePattern="$sys{catalina.base}/%d{yyyy-MM-dd}.app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %c{1} [%t] %x %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.gordonfromblumberg" level="debug"/>

        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>